p,
div {
  font-family: Lato;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 90px;

}

.nav-bar {
  background-color: rgb(255, 255, 255);
  border-radius: 1px;
  box-shadow: 0px 0px 9px rgb(146, 146, 146);
  ;

}
.list-left{
  justify-content: left;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 700px;
  max-width: 100%;
  padding: 30px 30px;
  border-radius: 6px;
  box-shadow: 0px 5px 30px #222;
  background-color: #fefefe;
}

.form-wrapper>h1 {
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2em;
  font-weight: bold;
  margin-top: 0.18em;
  color: #222;
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


label {
  margin-bottom: 0.5em;
  color: #444;
  font-weight: 700;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #d6d1d5;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #bbb;
}

button {
  min-width: 100%;
  cursor: pointer;
  margin-right: 0.25em;
  margin-top: 0.5em;
  padding: 0.938em;
  border: none;
  border-radius: 4px;
  background-color: rgb(152, 75, 175);
  color: #fefefe;
}

button:hover {
  background-color: rgb(58, 6, 65);
  color: #fefefe;
}

.fullName,
.email,
.password {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

.submit {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  float: right;
}

.banner-image {
  background-image: url("./img/home-banner-bg.png");
  max-height: 1200px;
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.text-white {
  color: #fff;
}

.img-header {
  margin-top: 50px;
}
.third-section{
  background: url("./img/registration-bg.png") no-repeat center ;
  background-size: cover;
  margin-bottom: 30px;
  padding: 157px 0;
}
.purple-row{
  padding-top: 150px;
}
.banner-text{
  font-size: 50px !important;
  font-weight: bold;
}
.section-small-text{
text-align: center;
}
.footer-bg{
 /* background: url("./img/footer-bg.png") no-repeat center;*/
 height: 50px;
  color: white;
text-align: center;
background-size: cover;
background-color: rgb(62, 48, 187);
}






